


article {
    display: flex;
    flex-direction: column;
    align-items: center;

}


tr{ 
    display: flex;

}

td {
    
    justify-content: space-between;

}

main h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--text-dark);
    font-size: var(--size-md);
}
main p {
    width: 60%;
    text-align: center;
    margin-bottom: 1em;
    color: var(--text-five);
    font-size: var(--size-sm);
}