/* About Page Styles */

main h2 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: var(--text-dark);
    font-size: var(--size-md);
}
main p {
    width: 60%;
    text-align: center;
    margin: 1em auto;
    color: var(--text-five);
    font-size: var(--size-sm);
}