footer {
  background-color: var(--indigo-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0  0;
  margin-top: 50px;
  flex-direction: column;
}

footer p {
  color: var(--text-white);
  margin: 5px 0;
  font-size: var(--size-md);
}

footer h3 {
  color: var(--text-white);
  margin: 10px 0;
  font-size: var(--size-lg);
  text-transform: uppercase;
  font-weight: bolder;
}

footer ul {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

footer ul li a {
  color: var(--text-white);
  font-size: var(--size-sm);
  transition: color 0.3s;
}