

h2, h3, p {
    color: var(--accent-bg);
}

#product-section {
    margin: 0 5em;
    padding: 1em;
}

#main-section {
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: var(--button-bg);
    padding: 1em;
    border-radius: .5em;
}

#images-section {
    display: flex;
}

#images-section ul img {
    width: 150px;
    height: 150px;
}

#images-section > img {
    width: 600px;
    height: 600px;
}

#summary-section {
    flex-basis: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#summary-section input {
    padding: .5em;
    font-size: 1.5em;
}

.rating {
    display: flex;
    background-color: var(--accent-bg);
    width: max-content;
    border-radius: .5em;
}

.rating li {
    font-size: 2em;
}

.comments {
    background-color: var(--button-bg);
    width: 50vw;
    padding: 1em;
    border-radius: .5em;
    margin: 2em 6em;
}

.comments > div{
    display: flex;
    justify-content: space-between;
}

.comment {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--accent-bg);
    padding: 1em;
    border-radius: .5em;
}

.comment:not(:last-child) {
    margin-bottom: .5em;
}

.comment p {
    color: var(--accent-five);
}

.user {
    width: 5em;
    height: 5em;
    border-radius: 5em;
}

form {
    width: 50vw;
    background-color: var(--button-bg);
    border-radius: .5em;
    padding: 1em;
    margin: 2em 6em;
}

form h3 {
    margin-bottom: 0;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form div > *:not(:last-child) {
    margin-bottom: .5em;
}

form input {
    display: block;
}

textarea {
    width: 100%;
    height: 5em;
    resize: vertical;
}

input[type='submit'] {
    padding: .5em;
    font-size: 1em;
}